$corey: 20px;
$font: 'Open Sans', sans-serif;
$grey:#f5f4fa;
$gold:#d0a904;
$violet:#3a376c;
$buttonborder:#585163;
$lightblack:#54425c;
$bluehead: #4a4480;
$whyte:white;
$grad1:0, 0, 51;
$grad2:0, 0, 0;
$lightgrey: #9a99a9;